#screenContent {
  display: flex;
}

#mainBoardArea {
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

#playerAreas {
  width: 100%;
  height: 100%;
  flex: 1;
}

#factory0 {
  display: grid;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(2, 35px);
  gap: 5px;
}

#factory1, #factory3, #factory5, #factory7 {
  display: grid;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(2, 35px);
  gap: 5px;
}

#factory2, #factory4, #factory6, #factory8 {
  display: grid;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(2, 35px);
  gap: 5px;
}

#factoryDisplayImage0 {
  /*display: block;
  margin: auto;*/
  grid-column: 2 / 3;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

#factoryDisplayImage1, #factoryDisplayImage3, #factoryDisplayImage5, #factoryDisplayImage7 {
  /*display: block;
  float: left;*/
  grid-column: 1 / 2;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

#factoryDisplayImage2, #factoryDisplayImage4, #factoryDisplayImage6, #factoryDisplayImage8 {
  /*display: block;
  float: right;*/
  grid-column: 3 / 4;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

.mesaoFactoryDisplay {
  /*text-align: center;*/
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 35px);
  gap: 5px;
}

div.factoriesDisplay {
  padding: 25%;
  /*position: relative;
  z-index: -1;*/
}

/*img.factoriesImages {
  height: 150px;
  width: 150px;
  z-index: -1;
}*/

body {
  background-color: grey;
}

.tilesImage, #firstPlayer {
  width: 35px;
}

#player0, #player1, #player2, #player3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-areas: 
    "a a"
    "b c"
    "d d";
  /*width: 500px;
  height: 500px;*/
  background-image: url(assets/playerBoardMaior.jpg);
}

.boards {
  /*position: relative;
  z-index: -1;*/
}

#playerButtons0, #playerButtons1, #playerButtons2, #playerButtons3 {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: repeat(5, 35px);
  /*grid-column: 1 / 2;
  grid-row: 2 / 3;*/
  grid-area: b;
  z-index: 2;
}

.playerRowsButtons {
  /*display: block;*/
  background: transparent;
  border: none;
}

.rowButtons0 {
  grid-column: 5 / 6;
}

.rowButtons1 {
  grid-column: 4 / 6;
}

.rowButtons2 {
  grid-column: 3 / 6;
}

.rowButtons3 {
  grid-column: 2 / 6;
}

.rowButtons4 {
  grid-column: 1 / 6;
}

#playerBoard0, #playerBoard1, #playerBoard2, #playerBoard3 {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: repeat(5, 35px);
  gap: 5px;
  /*grid-column: 1 / 2;
  grid-row: 2 / 3;*/
  grid-area: b;
}

.fileira0 {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  grid-template-columns: 35px;
  grid-template-rows: subgrid;
}

.fileira1 {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: subgrid;
}

.fileira2 {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: subgrid;
}

.fileira3 {
  display: grid;
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  grid-template-columns: repeat(4, 35px);
  grid-template-rows: subgrid;
}

.fileira4 {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}

#playerPointsBoards0, #playerPointsBoards1, #playerPointsBoards2, #playerPointsBoards3 {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: repeat(5, 35px);
  gap: 5px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*.pointsRow0 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}

.pointsRow1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}

.pointsRow2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}

.pointsRow3 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}

.pointsRow4 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: subgrid;
}*/

#playerNegativePoints0, #playerNegativePoints1, #playerNegativePoints2, #playerNegativePoints3 {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: 35px;
  gap: 5px;
  /*grid-column: 1 / 3;
  grid-row: 3 / 4;*/
  grid-area: d;
}