:root {
  --grid-rows: 1;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: rgb(0,0,0);*/
  background-color: rgba(0,0,0,0.4);
}

#modalHome {
  display: block;
}

.modalContentHome {
  background-color: #fefefe;
  text-align: center;
  border-radius: 8px;
  width: 50%;
  height: 50%;
  margin: 10% auto;
  padding: 20px;
}

#modalTitle {
  font-size: 120px;
  margin-top: 10%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.modalBtnHome {
  margin: auto 2%;
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
  font-size: 40px;
  padding: 10px;
  width: 25%;
  height: 20%;
}

#modalPlayers {
  display: none;
}

.modalContentPlayers {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  /*border: 5px solid #888;*/
  width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 8px;
}

#modalText {
  /*text-align: center;*/
  font-size: 40px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.modalNumbers {
  background-color: lightgrey;
  font-size: 40px;
  padding: 10%;
  margin: auto 20px;
  border-radius: 8px;
  border: none;
}

#modalBtnOK {
  display: block;
  margin: 25px auto 5px;
  background-color: lightgrey;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  width: 40%;
}

#modalRoundOver {
  display: none;
  opacity: 0;
}

#modalRoundOver.fadeInOut {
  animation-name: fadeinout;
  animation-duration: 4s;
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalContentRounds {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  /*height: 20%;*/
}

.roundOverText {
  font-size: 80px;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#modalRoundSummary {
  display: none;
}

.modalContentSummary {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  /*height: 50%;*/
  text-align: center;
  border-radius: 8px;
}

#roundSummaryText {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#modalBtnSummary {
  display: block;
  margin: auto;
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  width: 15%;
}

#pointsTable {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  margin: 20px auto;
}

.summaryColumns {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#modalRoundStart {
  display: none;
}

.roundStartText {
  font-size: 60px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#firstPlayerText {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#firstPlayerColour {
  display: inline-block;
  width: 3%;
  height: 30px;
}

#modalBtnStart {
  display: block;
  margin: 5px auto;
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  width: 10%;
}

#modalSettings {
  display: none;
}

.modalContentSettings {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  border-radius: 8px;
}

#playerSettingsText {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#modalBtnSettings {
  display: block;
  margin: auto;
  background-color: lightgrey;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  width: 15%;
}

#playerSettings {
  margin: 10px;
}

.colourAndName {
  display: block;
  margin: 10px;
}

.colourBtn {
  margin: 0px 10px;
}

.playerName {
  width: 70%;
  height: 40px;
}

#turnPlayer {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nameDiv {
  display: inline;
}

#screenContent {
  display: flex;
}

#mainBoardArea {
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

#playerAreas {
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#factory0 {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(2, 30px);
  gap: 5px;
}

#factory1, #factory3, #factory5, #factory7 {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(2, 30px);
  gap: 5px;
}

#factory2, #factory4, #factory6, #factory8 {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(2, 30px);
  gap: 5px;
}

#factoryDisplayImage0 {
  /*display: block;
  margin: auto;*/
  grid-column: 2 / 3;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

#factoryDisplayImage1, #factoryDisplayImage3, #factoryDisplayImage5, #factoryDisplayImage7 {
  /*display: block;
  float: left;*/
  grid-column: 1 / 2;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

#factoryDisplayImage2, #factoryDisplayImage4, #factoryDisplayImage6, #factoryDisplayImage8 {
  /*display: block;
  float: right;*/
  grid-column: 3 / 4;
  background-image: url(assets/factoryDisplayMaior.png);
  height: 150px;
  width: 150px;
}

.mesaoFactoryDisplay {
  /*text-align: center;*/
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 5px;
}

div.factoriesDisplay {
  padding: 28%;
  /*position: relative;
  z-index: -1;*/
}

/*img.factoriesImages {
  height: 150px;
  width: 150px;
  z-index: -1;
}*/

body {
  background-image: url(assets/Background.jpg);
  background-color: grey;
}

.tilesImage, #firstPlayer {
  width: 30px;
}

#player0, #player1, #player2, #player3 {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: 140px 195px 65px;
  grid-template-areas: 
    "a a"
    "b c"
    "d d";
  background-image: url(assets/playerBoard1.jpg);
  margin: 2%;
}

.boards {
  /*position: relative;
  z-index: -1;*/
}

.pointsCounter {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fefefe;
}

#playerButtons0, #playerButtons1, #playerButtons2, #playerButtons3 {
  display: grid;
  grid-template-columns: repeat(5, 32px);
  grid-template-rows: repeat(5, 32px);
  gap: 2px;
  /*grid-column: 1 / 2;
  grid-row: 2 / 3;*/
  grid-area: b;
  z-index: 1;
  padding: 2% 5%;
  justify-self: end;
}

.playerRowsButtons {
  /*display: block;*/
  background: transparent;
  border: none;
}

.rowButtons0 {
  grid-column: 5 / 6;
}

.rowButtons1 {
  grid-column: 4 / 6;
}

.rowButtons2 {
  grid-column: 3 / 6;
}

.rowButtons3 {
  grid-column: 2 / 6;
}

.rowButtons4 {
  grid-column: 1 / 6;
}

#playerBoard0, #playerBoard1, #playerBoard2, #playerBoard3 {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(5, 30px);
  gap: 3px;
  /*grid-column: 1 / 2;
  grid-row: 2 / 3;*/
  grid-area: b;
  padding: 3% 5%;
  justify-self: end;
}

.fileira0 {
  display: grid;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  grid-template-columns: 30px;
  grid-template-rows: 30px;
}

.fileira1 {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: 30px;
  gap: 4px;
  padding-top: 1%;
  justify-self: end;
}

.fileira2 {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: 30px;
  gap: 4px;
  padding-top: 1%;
  justify-self: end;
}

.fileira3 {
  display: grid;
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: 30px;
  gap: 4px;
  padding-top: 2%;
  justify-self: end;
}

.fileira4 {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: 30px;
  gap: 4px;
  padding-top: 2%;
  justify-self: end;
}

#playerPointsBoards0, #playerPointsBoards1, #playerPointsBoards2, #playerPointsBoards3 {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(5, 30px);
  gap: 4px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-area: c;
  padding: 3% 5%;
}

#playerNegativePoints0, #playerNegativePoints1, #playerNegativePoints2, #playerNegativePoints3 {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: 30px;
  gap: 7px;
  /*grid-column: 1 / 3;
  grid-row: 3 / 4;*/
  grid-area: d;
  padding: 1% 6%;
}